:root {
  /* background */
  --home-background-image: url("/images/cool-background.png");

  /* Left Menu */
  --navgation-background-color: violet;

  --logo-font-color: orangered;

  --menu-background-color: blanchedalmond;
  --menu-background-color: rgb(255, 99, 71, 0.6);

  --menu-hover-background-color: rgb(255, 99, 71, 0.8);

  --menu-open-background-color: rgb(255, 255, 255, 0.6);

  --subMenu-selected-background-color: burlywood;

  --subMenu-hover-background-color: rgb(255, 255, 255, 0.8);

  /* header */
  --header-background-color: #e2e2e2;

  /* main - home */
  --home-panel-backgound-color: aliceblue;
  --home-item-background-color: rgb(2, 0, 36);
  --home-item-background-color-second: rgb(0, 212, 255, 1);
  --home-item-font-color: white;

  /* border */
  --border-color-black: black;

  /* footer */
  --footer-background-color: #2e2e2e;
  --footer-infomation-color: white;
  --footer-anchor-color: white;

  /* input */
  --button-normal-background-color: red;
  --button-normal-font-color: white;

  --button-normal-hover-background-color: blue;
  --button-normal-hover-font-color: orange;

  --button-normal-active-background-color: tomato;
  --button-normal-active-font-color: gray;

  --button-disabled-background-color: white;
  --button-disabled-font-color: orange;

  /* content */
  --content-background-color: yellow;

  --content-normal-border-color: black;

  --content-standard-border-color: violet;

  --content-compare-border-color: chartreuse;

  --content-target-border-color: tomato;

  --content-disabled-border-color: wheat;

  --path-normal-stroke-color: black;

  --path-target-stroke-color: yellowgreen;

  --content-font-color: black;
}
