svg#search {
  padding-top: 20px;
}

svg#search rect {
  stroke: var(--content-normal-border-color);
  stroke-width: 3px;
  fill: var(--content-background-color);
}

svg#search text {
  text-anchor: middle;
  font-size: 28px;
  alignment-baseline: central;
  fill: var(--content-font-color);
}

svg#search circle {
  fill: var(--content-background-color);
  stroke-width: 3px;
  stroke: var(--content-normal-border-color);
}

svg#search path {
  stroke-width: 3px;
  stroke: var(--content-normal-border-color);
}

svg#search rect.compare,
svg#search circle.compare {
  stroke: var(--content-compare-border-color);
}

svg#search rect.target,
svg#search circle.target {
  stroke: var(--content-target-border-color);
}

svg#search rect.disabled,
svg#search circle.disabled {
  stroke: var(--content-disabled-border-color);
}
